# 忽略 Git 仓库自身的文件夹
.git
# 忽略 IDE 配置文件夹（如 PyCharm）
.idea/
# 忽略 Mac OS 的系统文件
.DS_Store

# 忽略 Python 虚拟环境
venv/
# 忽略字体文件夹
fonts/
# 忽略源码文件夹
sources/

# 忽略 pyc 文件和缓存
__pycache__/
*.py[cod]
*.pyo

# 忽略日志文件
*.log

# 忽略 Jupyter Notebook checkpoints
.ipynb_checkpoints/

# 忽略环境配置文件
.env
*.env

# 忽略其他常见的临时文件
*.swp
*.bak
*.tmp